* {
  font-family: monospace;
}

body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: monospace;
}

.LoadingContainer {
  backdrop-filter: blur(4px);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.LoadingBox {
  display: flex;
  justify-content: center;
  margin-top: -100px;
  position: absolute;
  top: 10%;
  width: 100%;
  z-index: 99;
  height: 100vh;
  align-items: center;
}